<div class="card m-3">
    <h5 class="card-header">Welcome  {{userName}}</h5>
    <div class="card-body">

        <div class="form-row">
            <div class="form-group col">
                <label>Company Name :- </label>
                {{userCompany}}
            </div>
            <div class="form-group col">
                <label>Department Name :- </label>
                {{userDepartment}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Project Name :- </label>
                {{userProject}}
            </div>
            <div class="form-group col">
                <label>Team Name :- </label>
                {{userTeam}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>User Role :- </label>
                {{userRole}}
            </div>
        </div>
    </div>
</div>