<div class="card m-3">
    <app-error-alert [setMessage]="setMessage"></app-error-alert>
    <app-msg-alert [setMessage]="setMessage"></app-msg-alert>
<h5 class="card-header">Create Questions</h5>
<div class="card-body">
    <form [formGroup]="addQuestions" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-6">
                <label>Client Name</label>
                <select formControlName="clientName" class="form-control" required >
                        <option *ngFor="let company of companyNames" [(ngValue)]="company.companyName">{{company.companyName}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label>Job function</label>
                <input type="text"pInputText formControlName="jobFunction" class="form-control" required >
            </div>
            <div class="form-group col-6">
                <label>Add Topic</label>
                <input type="text"pInputText formControlName="topic" class="form-control" required >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label>Add Question</label>
                <textarea type="textarea"pInputText formControlName="question" class="form-control" required ></textarea>
            </div>
            <div class="form-group col-6">
                <label>Add Answer</label>
                <textarea type="textarea"pInputText formControlName="answer" class="form-control" required ></textarea>
            </div>
            <!-- <button mat-raised-button>Add</button>
            <button mat-raised-button>Reset</button> -->
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1">Submit</button>
            <button class="btn btn-secondary" type="reset">Cancel</button>
        </div>
    </form>
</div>
</div>