<nav class="navbar navbar-expand-sm ">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='https://www.aroha.co.in/#Digital_services'>Digital Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='https://www.aroha.co.in/#Data_Services'>Data Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='https://www.aroha.co.in/#knowledge_services'>knowledge services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='https://www.aroha.co.in/#about_us'>About</a>
        </li>
    </ul>
</nav>