.search-hero{
    margin : 50px 0px ;
}

.form-control::placeholder {
   font-family: FontAwesome;
 }
 .box-styles{
   height: 650px;
   box-shadow: 0 10px 40px 0 #B0C1D9;
   margin-top: 25px;
   padding: 20px;

 }
 .border-styles{
     border-top: 1px solid #80808070;
     border-right: 1px solid #80808070;
     height: 465px ;
     overflow-x: auto;
 }
 .brd-style{
   border-top: 1px solid #80808070;
 }
 .questions_list{
     border-bottom: 1px solid #80808070;
 }
 .link_style{
     cursor: pointer;
 }
 .admin{
     margin-left: 30px;
     margin-top: 15px;
 }
 .company{
     background-color: #80808070;
     padding: 2px;
     border-radius: 20px;
 }
.mar-top{
   margin-top: 100px;
}
.hide{
   display: none;
}