<!-- Header -->
<app-header-log-in></app-header-log-in>
<div class="row" >
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="left">
            <div class="item">
                <i class="material-icons">list</i><br>
            </div>
            <div class="item active" (click)="UploadComponent();">
                <i class="material-icons">cloud_upload</i>
                <a>Upload Doc</a>
            </div>
            <div class="item" (click)="onShow();">
                <i class="material-icons"> filter_none </i>
                <a>Show Doc</a>
            </div>
            <div class="item" (click)="SearchComponent();">
                <i class="material-icons">search</i>
                <a>Search By Type</a>
            </div>
            <div class="item">
                <i class="material-icons">account_box</i>
                <a>User Account</a>
            </div>
            <div class="item">
                <i class="material-icons">visibility</i>
                <a>Access Level</a>
            </div>
            <div class="item" (click)="logOut();">
                <i class="material-icons">power_settings_new</i>
                <a href="#">Log Out</a>
            </div>
        </div>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <app-search *ngIf="loadSearchComponent"></app-search>
        <app-show *ngIf="loadShowComponent"></app-show>
        <app-upload *ngIf="loadUploadComponent"></app-upload>
        <app-view-file *ngIf="showDocumant"></app-view-file>
        <!--<div *ngIf="showDocumant">
                
            <table class="table">
                <thead>
                    <td>File Name</td>
                    <td>Uploaded By</td>
                    <td>File Tag</td>
                    <td>View</td>
                </thead>
                <tr *ngFor="let fileData of FileDetails">
                    <td>{{fileData.fileName}}</td>
                    <td>{{fileData.uploadBy}}</td>
                    <td>{{fileData.tag}}</td>
                    <td *ngIf="fileData.storage=='Cloud'"><a href="{{fileData.fileUrl}}" target="_blank"
                            style="color: rgb(43, 128, 224); ">View</a></td>
                    <td *ngIf="fileData.storage=='File'"><i class="fa fa-clone" (click)="viewFile(fileData.fileUrl)"
                            aria-hidden="true" style="color: rgb(22, 148, 170);"></i></td>
                </tr>
            </table>           
    </div> -->
</div>
</div>
<appFooter-component></appFooter-component>