.nav-link[data-toggle].collapsed:after {
    content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}
.left,
.right {
    top: 50%;
    float: left;
    /*transform: translateY(125%);*/
}

.left {
    background: #337ab7;
    display: inline-block;
    white-space: nowrap;
    width: 250px;
    transition: width .5s;
    height: 700px !important;
}

.right {
    background: #fff;
    width: 350px;
    transition: width 1s;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}

/* .item:hover {
    background-color: rgb(27, 26, 26);
} */
nav{
    background-color: #337ab7;
}
.left .fas {
    margin: 15px;
    width: 25px;
    color: #fff;
}

i.fas {
    font-size: 30px;
    vertical-align: middle !important;
}

.item {
    height: 50px;
    overflow: hidden;
    color: #fff;
}
.material-icons{
    margin: 15px;
    width: 20px;
    color: #fff;
    font-size: 30px;
    vertical-align: middle !important;
    margin-bottom: 15px;
}
a{
    color: #fff;
}
a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }

  nav{
    background-color: #337ab7;
}

.topnav {
    overflow: hidden;
    background-color:  #337ab7;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
    /* background-color: black; */
  }
  .btn-primary{
      margin: 10px;
  }
  
  /* .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
   */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav-right {
    float: right;
    display: flex;
  }
  .side_nav{
      max-width: 22%;
  }
  .menu_items{
      cursor: pointer;
      font-weight: bold;
  }
  .company_details{
      margin-left: 55px;
      cursor: pointer;
      height: 30px !important;
  }
 .search-hero{
     margin : 50px 0px ;
 }

 .form-control::placeholder {
    font-family: FontAwesome;
  }
  .box-styles{
    height: 650px;
    box-shadow: 0 10px 40px 0 #B0C1D9;
    margin-top: 25px;
    padding: 20px;

  }
  .border-styles{
      border-top: 1px solid #80808070;
      border-right: 1px solid #80808070;
      height: 500px ;
  }
  .brd-style{
    border-top: 1px solid #80808070;
  }
  .questions_list{
      border-bottom: 1px solid #80808070;
  }
  .link_style{
      cursor: pointer;
  }
  .admin{
      margin-left: 30px;
      margin-top: 15px;
  }
  .company{
      background-color: #80808070;
      padding: 2px;
      border-radius: 20px;
  }
.mar-top{
    margin-top: 100px;
}
.hide{
    display: none;
}
.cur-point{
    cursor: pointer !important;
}
.border-styles{
    border-top: 1px solid #80808070;
    border-right: 1px solid #80808070;
    height: 465px ;
    overflow-x: auto;
}