<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="showUser">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> User Name</th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.eMail}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.userdepartment}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Project </th>
      <td mat-cell *matCellDef="let element"> {{element.userProjectName}} </td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.userTeamName}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role </th>
      <td mat-cell *matCellDef="let element"> {{element.userRole}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit </th>
      <td mat-cell *matCellDef="let element" (click)="edit(element.eMail)"> <span class="material-icons">
          create
        </span></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Edit </th>
      <td mat-cell *matCellDef="let element" (click)="delete(element.eMail)"> <span class="material-icons">
          delete
        </span></td>
    </ng-container>
    <!-- Symbol Column -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>

<div>
  <app-error-alert [setMessage]="setMessage"></app-error-alert>
  <app-msg-alert [setMessage]="setMessage"></app-msg-alert>
</div>

<div *ngIf="editForm">
  <div class="card m-3">
    <span class="material-icons"  (click)="showDetails()">
      cancel
    </span>
    <h5 class="card-header">Edit User </h5>
      <div class="card-body">
        <form [formGroup]="editUserData" (ngSubmit)="onSubmit()">
          <div class="form-row">
           <!-- <div class="form-group col">
              <label>Company Name</label>
              <select pInputText formControlName="userCompany" (change)="onChangeGetDepartment($event)"
                class="form-control" required>
                <option>--Select--</option>
                <option *ngFor="let company of companyNames" [value]="company.companyName">
                  {{company.companyName}}</option>
              </select>
            </div>
            <div class="form-group col">
              <label>Department Name</label>
              <select pInputText formControlName="userdepartment" (change)="onChangeGetProject($event)"
                class="form-control" required>
                <option>--Select--</option>
                <option *ngFor="let department of departmentNames" [value]="department.departmentName">
                  {{department.departmentName}}</option>
              </select>
            </div>
            <div class="form-group col">
              <label>Project Name</label>
              <select pInputText formControlName="userProjectName" (change)="onChangeGetTeam($event)"
                class="form-control" required>
                <option>--Select--</option>
                <option *ngFor="let project of projectNames" [value]="project.projectName">
                  {{project.projectName}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Team Name</label>
              <select pInputText formControlName="userTeamName" class="form-control" required>
                <option>--Select--</option>
                <option *ngFor="let team of teamNames" [value]="team.teamName">
                  {{team.teamName}}</option>
              </select>
            </div> -->
            <div class="form-group col">
              <label>Select Role</label>
              <select pInputText formControlName="userRole" class="form-control" required>
                <option value=""></option>
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_MANAGER">Project Manager</option>
                <option value="ROLE_TEAMLEAD">Team Lead</option>
                <option value="ROLE_USER">User</option>
              </select>
            </div>
            <div class="form-group col-5">
              <label>User Email</label>
              <input type="text" value='{{emailForEdit}}' pInputText formControlName="eMail" class="form-control" disabled required>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary mr-1">Update</button>
            <button class="btn btn-secondary" type="reset">Cancel</button>
          </div>
        </form>
      </div>
  </div>
</div>